form#meetForm(name='form')
    input#inputGameNo(type='hidden')
    input#inputOrgMeetNo(type='hidden')
    input#inputMemberList(type='hidden')
    input#inputMeetNo(type='hidden')
    .row.mb-3
        p.mb-2#meetDayListName 모임일자
        d#meetDiv
            select#meetList.input-el
    .row.mb-3(style='display:none;')
            input#inputOrgGameNumber.form-control(type='text', disabled)
            label(for='inputOrgGameNumber') 게임번호
    .row.mb-3
        p.mb-2#gameMemberCountName 참여인원
        div
            input#inputGameMemberCount1(type='radio', name='gameMemberCount', value='3')
            label(for='inputGameMemberCount1') 3인
            input#inputGameMemberCount2(type='radio', name='gameMemberCount', value='4')
            label(for='inputGameMemberCount2') 4인
    .row.mb-3
        p.mb-2#gameTypeName 게임유형
        div 
            input#inputGameType1(type='radio', name='gameType', value='HALF')
            label(for='inputGameType1') 반장전
            input#inputGameType2(type='radio', name='gameType', value='EAST')
            label(for='inputGameType2') 동장전
    .row.mb-3
        p.mb-2#memberListName 참여자
        #memberDiv(style='width: 125px; max-height: 180px; overflow-y: auto;')
            ul#memberList(style='list-style:none; padding: unset; display: flex; flex-wrap: wrap;')
    .row.mb-3
        .form-floating.mb-3.mb-md-0
        p#userResultName 점수
        #scoreInfo.mb-3(style='display:flex;')
            .total-score 총 점수: 
                span
            .left-score(style='margin-left:20px;') 남은 점수:
                span
        #resultDiv
            ul
    .row.mb-3
        .form-floating(style='display:flex; flex-wrap:wrap;')
            div
                p.score-type 시작점수
                    span#inputStartScore
            div
                p.score-type 반환점수
                    span#inputReturnScore
            div
                p.score-type 오카
                    span#inputOkaPoint
            div
                p.score-type 우마
                    span#umaPoint
    .row.mb-3
        .form-floating.mb-3.mb-md-0
        p#isYakuman 역만
            select#yakumanSelect
    .row.mb-3
        .form-floating
            textarea#inputComment.form-control
            label(for='inputComment') 메모
    .mb-0
        .d-grid
            .row.mb-2
                .mb-3
                    a.btn.btn-secondary.btn-block(
                        href='game.html'
                        style='margin-right:10px;'
                        ) 목록으로
                    a.btn.btn-primary.btn-block#submit #{buttonName}
                    
style(type="text/css" scoped).
    #resultDiv li { display : flex; list-style: none; margin-left: -30px; margin-bottom: 15px; }
    #resultDiv li div:first-child { margin-right: 15px; }
    .row p { font-weight: bold; }
    .row p label { font-weight: 500;}
    .score-type span { font-weight: normal !important; margin-right: 30px; color: darkcyan;}
    .input-el { width: 150px; height: 30px; border: 1px solid #ddd; border-radius: 4px;}
    