form#meetForm(name='form')
    input#inputGameNo(type='hidden')
    input#inputMeetNo(type='hidden')
    input#inputMemberList(type='hidden')
    .row.mb-3
        .form-floating.mb-3.mb-md-0
        p#meetDayListName 모임일자
            d#meetDiv
                select#meetList
    .row.mb-3
        .form-floating.mb-3
            input#inputGameNumber.form-control(type='text', placeholder='YYYYMMDDXX')
            label(for='inputGameNumber') 게임번호
    .row.mb-3
        .form-floating.mb-3.mb-md-0
        p#gameMemberCountName 참여인원
            input#inputGameMemberCount1(type='radio', name='gameMemberCount', value='3')
            label(for='inputGameMemberCount1') 3인
            input#inputGameMemberCount2(type='radio', name='gameMemberCount', value='4')
            label(for='inputGameMemberCount2') 4인
    .row.mb-3
        .form-floating.mb-3.mb-md-0
        p#gameTypeName 게임유형
            input#inputGameType1(type='radio', name='gameType', value='HALF')
            label(for='inputGameType1') 반장전
            input#inputGameType2(type='radio', name='gameType', value='EAST')
            label(for='inputGameType2') 동장전
    .row.mb-3
        .form-floating.mb-3
            input#inputStartScore.form-control(type='text', placeholder='시작점수')
            label(for='inputStartScore') 시작점수
    .row.mb-3
        .form-floating.mb-3
            input#inputReturnScore.form-control(type='text', placeholder='반환점수')
            label(for='inputReturnScore') 반환점수
    .row.mb-3
        .form-floating.mb-3
            input#inputOkaPoint.form-control(type='text', placeholder='오카', disabled)
            label(for='inputOkaPoint') 오카
    .row.mb-3
        .form-floating.mb-3.mb-md-0
        p#umaPointName 우마
            input#inputUmaPoint1(type='radio', name='umaPoint', value='5')
            label(for='inputUmaPoint1') 5(10)
            input#inputUmaPoint2(type='radio', name='umaPoint', value='10')
            label(for='inputUmaPoint2') 10(20)
    .row.mb-3
        .form-floating.mb-3
        p#memberListName 참여자
            d#memberDiv
                ul#memberList(style='list-style:none')
    .row.mb-3
        .form-floating.mb-3.mb-md-0
        p#endYnName 종료 여부
            input#inputEndYn1(type='radio', name='endYn', value='0', disabled)
            label(for='inputEndYn1') 진행중
            input#inputEndYn2(type='radio', name='endYn', value='1', disabled)
            label(for='inputEndYn2') 종료
    .mt-4.mb-0
        .d-grid
            .row.mb-3
                .form-floating.mb-3
                    a.btn.btn-primary.btn-block#submit #{buttonName}
            .row.mb-3
                .form-floating.mb-3
                    a(href='game.html') 목록으로
