form#meetForm(name='form')
    input#inputGameNo(type='hidden')
    input#inputMemberNo(type='hidden')
    .row.mb-3
        .form-floating.mb-3
            input#inputName.form-control(type='text', disabled)
            label(for='inputName') 이름
    .row.mb-3
        .form-floating.mb-3
            input#inputScore.form-control(type='text', placeholder='점수')
            label(for='inputScore') 점수
    .row.mb-3
        .form-floating.mb-3
            input#inputRank.form-control(type='text', placeholder='순위', disabled)
            label(for='inputRank') 순위
    .row.mb-3
        .form-floating.mb-3
            input#inputPoint.form-control(type='text', placeholder='승점', disabled)
            label(for='inputPoint') 승점
    .mt-4.mb-0
        .d-grid
            .row.mb-3
                .form-floating.mb-3
                    a.btn.btn-primary.btn-block#submit #{buttonName}
            .row.mb-3
                .form-floating.mb-3
                    a(href='game.html') 목록으로
