nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion

    .sb-sidenav-menu

        .nav

            .sb-sidenav-menu-heading
                | 메뉴

            a.nav-link(href='index.html')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | 순위
            a.nav-link(href='game.html')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | 게임
            a.nav-link(href='meet.html')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | 모임
            a.nav-link(href='member.html')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | 회원
            a.nav-link(href='help.html')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | 사용방법

    .sb-sidenav-footer

        .small Logged in as:
        | Mahjong Score
