nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark

    // Navbar Brand
    a.navbar-brand.ps-3(href='index.html')
        | Mahjong Score

    // Sidebar Toggle
    button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0.me-4.me-lg-0(href='#!')
        i.fas.fa-bars

    // Navbar
    ul.navbar-nav.ms-auto.ms-md-0.me-3.me-lg-4
        li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                i.fas.fa-user.fa-fw
            ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
                li
                    a.dropdown-item(href='login.html')#login 로그인
                li
                    a.dropdown-item#logout 로그아웃
