extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = '순위';
    - var addPage = ''
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'

prepend css
    //- Load Simple DataTables Stylesheet
    link(href='https://cdn.jsdelivr.net/npm/simple-datatables@5/dist/style.css', rel='stylesheet')

block content
    .container-fluid.px-4
        include includes/page-header.pug
        .card.mb-4
            .row.mb-3
                .form-floating.mb-3.mb-md-0
                p#meetDayListName 모임일자
                    d#meetDiv
                        select#meetList
            .card-header
                i.fas.fa-table.me-1
                | 순위
            .card-body
                table.rankTable#rankDataTable
                    thead
                        tr
                            th 순위
                            th 이름
                            th 우승 횟수
                            th 역만 횟수
                            th 총 승점
                            th 평균 승점
                            th 승률
                            th 1,2위율
                            th 4위율
                            th 승수
                            th 2위 횟수
                            th 3위 횟수
                            th 4위 횟수
                            th 순위율
                            th 총 국수


append scripts
    //- Load Simple DataTables Scripts
    script(src='https://cdn.jsdelivr.net/npm/simple-datatables@5', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js')
    script(src='js/rank.js')
